.gallery{
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}
.gallery img{
    background-color: blanchedalmond;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.gallery .head{
    margin: 25px;
    text-align: center;
}
.react-3d-carousel .slider-container .slider-right div,.react-3d-carousel .slider-container .slider-left div{
    border: none;
}
@media only screen and (max-width: 768px){
    .gallery img{
        height: 50vh;
        width: 80vh;
        max-width: 50vh!important;
    }
    .react-3d-carousel .slider-container .slider-right div,.react-3d-carousel .slider-container .slider-left div{
        display: none;
    }
}