.gallery{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.gallery img{
    background-color: blanchedalmond;
    width: 100%;
    height: 60vh;
    border-radius: 20px;
}
.gallery .cardiv{
    width: 100%;
    
}
.gallery .head{
    margin: 25px;
    text-align: center;
}